*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,body{
    width: 100%;
    height: 100vh;
}

#main{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(14, 13, 13); */
}

#back{
    width: 100%;
    height: 100vh;
    
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




#top{
/* 
    to bring top above the back */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.404);
}

#workingarea{

/*   
    to center this working area we made margin 0 and auto  */
    margin: 0 auto;
      /* here we need to composate for every screen size */
    width: 85%;
    max-width: 1920px ;
    height: 100vh;
    /* border:1px solid white ; */
    position: relative;
}

#nav{
    /* background-color: black; */
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

#nav img{
    /* width: 150px; */
    height: 150px; 
}

#nleft ,#nright{
    display: flex;
    align-items:center ; 
    gap: 40px;
    
}



#nav a{
    color: #fff;
    font-family: "gilroy";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    
}

#nav a:hover{
    color: yellow;
 
}

#hero{
    margin-top: 4vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
/* 
    to keep this div in center */
    position:absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);

}
#heroleft{
    min-width: 50%;
    /* height:100px; */
  
}


#elem{
    height: 7vw;
    overflow: hidden;
}
#elem h1{

    line-height: .9;
    font-family: "kajiro";
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    font-size:8vw;
    
}


#heroleft button{
    margin-top: 1vh;
    /* margin-left: 2vh; */
    padding: .8vw 1vw ;
    font-size: 3vw;
    font-family: "kajiro";
}

#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    color: #fff;
    /* height:100px; */
    /* background-color: rgba(134, 235, 34, 0.822); */
}

#heroright p{
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    margin-bottom: 25px;
}

#heroright #imagediv{
    background-position: center;
    width: 80%;
    height: 150px;
    margin-top: 20px;
    margin-bottom:30px ;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1615482869901-741464444488?auto=format&fit=crop&q=80&w=1460&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#heroright p:nth-child(3){
    margin-bottom: 100px;
}




